
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000000;
  --color-secondary: #ee5200;
  --color-accent: #494949;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-secondary: #494949;
  --color-primary: #ff751a;
  --color-accent: #bfbfbf;
}
.btn{
  color:white
}
*{

  font-family: "Noto Serif", serif;
}
