
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f05400;
  --color-secondary: #4a4a4a;
  --color-accent: #404000;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-secondary: #b5b5b5;
  --color-primary: #ff630f;
  --color-accent: #404040;
}
.btn{
  color:white
}
*{
  
  font-family: "Noto Serif", serif;
}
