@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000000;
  --color-secondary: #ee5200;
  --color-accent: #494949;
}

.btn{
  color:white
}
